%form{role: "form", method: "POST", action: "#{url_for("/admin/author/#{a.id}")}"}
  .form-group
    %label{for: "name"}
      Name
    %input.form-control{type: "text", id: "name", name: "name", value: "#{a.name}"}
  .form-group
    %label{for: "image_url"}
      Image
    %input.form-control{type: "text", id: "image_url", name: "image_url", value: "#{a.image_url}"}
  %button.btn.btn-default{type: "submit"} 
    Save
  
