body {

  font-family: 'Vollkorn', serif;
}

.container {
  padding-top: .2em;
  padding-left: .4em;
  padding-right: .4em;
  padding-bottom: .2em;
  width: 45%;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px; /* future proofing */
  -khtml-border-radius: 45px; /* for old Konqueror browsers */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.quote {
  font-size:1.2em;
  padding-top:1em;
  padding-bottom:1.5em;
}

.author {
  padding-bottom: .2em;
}

.inline-link {
  display: inline;
  margin-right: .25em;
}

.author-img {
  max-height: 150px;
  margin-right: 1em;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;

}

.permalink {
<!--  background-image: url('http://handsonwp.com/wp-content/uploads/2011/06/link-building.jpg');-->
}

